<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79387299686-2u4972eocahhqdpilj3roips8t4ejeef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79387299686-2u4972eocahhqdpilj3roips8t4ejeef</string>
	<key>API_KEY</key>
	<string>AIzaSyCo7zqPpgFewwkHcHM2MOo19LVHAO-cWXM</string>
	<key>GCM_SENDER_ID</key>
	<string>79387299686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cricket.match</string>
	<key>PROJECT_ID</key>
	<string>cricket-match-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cricket-match-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79387299686:ios:711cf80850b2ba28d682a7</string>
</dict>
</plist>